

<nav class="navbar navbar-light bg-light">

      <%= link_to "Simple Airbnb", flats_path, class: "navbar-brand" %>


      <div class="" id="navbarSupportedContent">
        <div class="ml-auto flex">
         <a class="btn btn-outline-primary my-2 my-sm-0 ml-2" href="/flats/new">Add Flat</a>
        </div>
      </div>
 </nav>


<div class="container mt-2">

  <h1>All our flats</h1>
  <p>All <%= @flats.size%> flats</p>







</div>





